<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Отчёты</title>
</head>
<body>

    
<form  id="root"  @submit="checkForm"  action="/reports"  method="post">

    <p v-if="errors.length">
        <b>Пожалуйста, исправьте ошибки:</b>
        <ul>
        <li v-for="error in errors">{{ error }}</li>
        </ul>
    </p>

    <p>
        <label for="name">Название</label>
        <input id="name" v-model="name" type="text" name="name" >
    </p>

    <p>
        <label for="dateStart">Дата начала мероприятия</label>
        <input id="dateStart" type="date" name="dateStart" v-model="dateStart">
    </p>
    <p>
        <label for="dateEnd">Дата окончания мероприятия (необязательно)</label>
        <input id="dateEnd" type="date" name="dateEnd" v-model="dateEnd">
    </p>

    <p>
        <input type="submit" value="Submit">
    </p>

</form>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="js/form.js"></script>
</body>
</html>